{% extends "base.html" %}

{% block content %}

<div class="parent-div d-flex align-items-center justify-content-center">
    <div class="child-div" style="padding: 100px;">
        <h1>This is the home page!</h1>
        {% if user.is_authenticated %}
        <h2>Your name is: {{ user.username }}</h2>
        {% else %}
        <h2>You are not logged in.</h2>
        {% endif %}
    
        <a href="{% url 'story9:logout' %}">
            <button type="button" class="btn btn-light btn-logout">Logout</button>
        </a>
    </div>
</div>  

{% endblock %}