/* Project-wide style */

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  font-family: 'Rubik', sans-serif;
} */

table.a {
  table-layout: auto;
  width: 180px;  
}


table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

.hrcss {
  border: 3px solid #FF6962;
  background-color: #FF6962 ;
}

div{
  font-family: Arial;
  font-size: 1.3vw;
}

p{
  font-family: Arial;
  font-size: 1.3vw;
}

heading {
  font-family: Arial;
  font-size: 1.5vw;
}

a{
  font-family: Arial;
  font-size: 1.3vw;
}

* {
  box-sizing: border-box;
}

.columnfoto {
  float: left;
  width: 25%;
  
   
}

.columndesc {
  float: left;
  width: 55%;
  
  
}

.columnskill {
  float: left;
  width: 35%;
  padding: 10px;
  height: 33vw; 
}

.columntr {
    float: left;
    width: 26.66%;
    padding: 10px;
    height: 38vw; 
}

.columnmatkul {
  float: left;
  width: 42.5%;
  padding: 10px;
  height: 38vw; 
}

.teksintro {
  font-size:2vw;
}

.topnav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(255, 105, 98, 0.8);
    width: 100%;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(255, 176, 146,0.8);
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;   
    background-color: rgba(255, 105, 98, 0.8); 
    width: 100%;
}

.ikon {
    width: 35px;
    height: 35px;
}

#section1, #section2, #section3 {    
    height: 800px;
    width: full;
    height: 55vw;
}

#roundborder {
  border-radius: 25px;
  border: 2px solid #FFB346; 
  padding: 25px; 
}

/* di hape */
@media only screen and (max-width: 600px) {
  #intro, #trackrecord, #skillswot {    
    height: 400px;
    width: full;
  }
  /* #flexturun {
    display: flex;
    flex-direction: column;
  } */

  /* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

}




