{% extends "base.html" %}

{% block content %}

<div class="parent-div d-flex align-items-center justify-content-center">
    <div class="child-div" style="padding: 100px;">
        <h1>Registration Page!</h1>
        <form method="post" action="{% url 'story9:register' %}">
            {% csrf_token %}

            {% if form.errors %}
            <p>There are errors in the form!</p>
            {% endif %}

            {{ form }}

            <input type="submit" class="btn btn-light btn-register" value="Register">
        </form>
        <a href="{% url 'story9:login' %}">
            <button type="button" class="btn btn-light btn-login">Login</button>
        </a>
    </div>
</div>  

{% endblock %}  
