body {
    font-family: 'Playfair Display', serif;
}

.container {
    overflow-x: hidden !important;
    min-height: calc(100vh - 2.5rem) !important;
}

.form-control, .btn {
    box-shadow: none !important;
}

.btn-search:hover {
    color: #ffffff !important;
}

.box {
    margin-top: -1px;
    height: 10rem;
}

.box img {
    height: 100%;
}

.box .cover {
    height: 100%;
    width: 6rem !important;
}

.title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
}

@media (max-width: 560px) {
    .title {
        font-size: 1.2em !important;
    }
    .desc {
        font-size: .8em !important;
        -webkit-line-clamp: 3; /* number of lines to show */
    }
    .btn-like {
        font-size: .8em;
    }
}
