{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story8</title>
<meta name="img" content="{% static 'story8/img/' %}">
<meta name="home" content="{% url 'story8:home' %}">
<meta name="csrf" content="{{ csrf_token }}">
<link rel="stylesheet" href="{% static 'story8/css/style.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap" rel="stylesheet">
{% endblock meta %}


{% block content %}
<body class="">
  
  <div class="container px-md-5 py-5 px-3">
    <a href="{% url 'story8:home' %}" class="text-dark text-decoration-none">
    <h2>Search a Book</h2></a>
    <div class="input-group mb-1 col-md-7 px-0">
      <input type="text" class="form-control input-keyword" placeholder="Book's title" aria-label="Book's title"
        aria-describedby="button-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-search text-dark search-button" type="button" id="button-addon2">
          Search
        </button>
      </div>
    </div>
    <div class="d-flex flex-column content">
      <div class="d-flex flex-column justify-content-center col-md-7 mt-5">
      </div>
      <!-- Ajax Content -->
    </div>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <script src="{% static 'story8/js/script.js' %}"></script>
</body>
{% endblock content %}
