<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block meta %}
    
    {% endblock meta %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
    <title>Welcome to Ferdi Story</title>
</head>
<body>
    {% block content%}
    
    {% endblock content%}
    <div class="topnav">      

        <div style="float: right;">
            <a href="{% url 'main:home' %}" >Home</a>
        </div>

        <div style="float: right;">
            <a href="{% url 'story8:home' %}" >Story8</a>
        </div>

        <div style="float: right;">
            <a href="{% url 'story9:home' %}" >Story9</a>
        </div>

    </div>

    <!-- navbar bawah -->
    <div class="footer">
        <!-- button ig -->
        <div style="float: right;">
            <a href="https://www.instagram.com/ferdifdi/">
                <img src="{% static 'img/iglogo.png' %}" class="ikon">
            </a>
        </div>
        
        <!-- button linkedin  -->
        <div style="float: right;"> 
            <a href="https://www.linkedin.com/in/ferdifdi/">
                <img src="{% static 'img/linkedinlogo.png' %}" class="ikon">
            </a>
        </div>
    </div>    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
