{% extends 'base.html' %}
{% load static %}
{% block meta %}
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
{% endblock meta %}
{% block content %}
<div class="wrapper col-12">
    <div class="d-flex flex-column justify-content-start align-items-center py-5 col-lg-8 mx-auto">
        <div class="accordion col-md-10 p-0 mt-2 accordion-1" id="accor1">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Aktivitas Saat Ini</h2>
                <div class="buttons d-flex justify-content-end justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
              <p>#DiRumahSaja</p>
              <ul class="m-0">
                  <li>PJJ</li>
                  <li>Nugas</li>
                  <li>Mendengarkan lagu</li>
              </ul>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-2" id="accor2">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Pengalaman Organisasi / Kepanitiaan</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <p>Organisasi:</p>
                    <ul class="m-0">
                        <li>PSDM - DPM FASILKOM UI - 2019/2020</li>
                   </ul>
                    <p>Kepanitiaan:</p>
                    <ul class="m-0">
                        <li>Editorial Marketing - Compfest XII </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-3" id="accor3">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Prestasi</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0">
                    <ul class="m-0">
                        <li>Third Place in the UNIB Senior High School And University Indonesian Debate Championship (2019)</li>
                        <li>Second place in the 2017 UNIB South Sumatran Senior High School Math Campionship (2017)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion col-md-10 p-0 mt-2 accordion-4" id="accor4">
            <div class="header d-flex justify-content-between align-items-center">
                <h2 class="pl-4 py-2 title col-9 mb-0">Contact Me</h2>
                <div class="buttons d-flex justify-content-end col-3 p-0">
                    <div class="up p-2 d-flex align-items-center justify-content-center col-6"><h2>&uarr;</h2></div>
                    <div class="down p-2 d-flex align-items-center justify-content-center col-6"><h2>&darr;</h2></div>
                </div>
            </div>
            <div class="content">
                <div class="px-4 py-3 m-0 d-flex flex-column">
                    <div class="d-flex">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" height="30" width="30" class="mr-2">
                        <h4><a href="https://www.instagram.com/ferdifdi/">@ferdifdi</a></h4> 
                    </div>
                    <div class="d-flex mt-2">
                        <img src="https://www.stickpng.com/assets/images/58e91afdeb97430e81906504.png" height="30" width="30" class="mr-2">
                        <h4><a href="https://www.linkedin.com/in/ferdifdi/">Ferdi Fadillah</a></h4> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'main/js/behavior.js' %}"></script>
{% endblock content %}
